<html>

<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <div class="main_header">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-3">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span>+91 98 4805 4860</span>
                </div>
                <div class="col-md-5 col-lg-5">
                    <i class="fa fa-envelope-o" aria-hidden="true" style="margin-left:20px;"></i>
                    <span>&nbsp;contact@skumarproperties.com</span>
                </div>
                <div class="col-md-4 col-lg-4">
                    <input type="button" class="btn btn-success" value="LOGIN" name="" id="">
                </div>
            </div>
        </div>
    </div>
    <div style="clear: both;">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="logo container right">
                    <img src="assets/log.png" alt="hello i am logo">
                </div>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8 ">
                <nav class="navbar navbar-expand-lg navbar-light nav-cls">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['/about']">About-us</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" [routerLink]="['/propertys']" id="navbarDropdownMenuLink"
                                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Propertys
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" [routerLink]="['.
                                
                                /forsale']">For
                                        Sale</a>
                                    <a class="dropdown-item" [routerLink]="['/required']">Required</a>
                                    <a class="dropdown-item" href="#">Property Management</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">contact-us</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</body>

</html>