<div class="footer">
    <div class="container-fluid left_foot">
        <div class="row">
            <div class="containet"></div>
            <div class="col-md-10 foot">
                <div class="row">
                    <div class="col-md-6">
                        <p>© 2017 -2018 <span style="color:blueviolet">SKumar Properties</span> ‐ All Rights Reserved</p>
                    </div>
                    <div class="col-md-3">
                        <p>Powered By AV Info Systems</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 right_foot foot">
                <p>Facebook</p>
            </div>
        </div>
    </div>
</div>